<hr class="featurette-divider">
<footer class="container py-3">
  <div class="row">
    <div class="col-md-3">
      <small class="d-block mb-1 text-primary">&copy;AlenErnarBagdat</small>
      <small class="d-block mb-3 text-muted">2022—2022</small>
    </div>
    <div class="col-md-3">
      <h5>Company</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Locations</a></li>
        <li><a class="link-secondary" href="#">History</a></li>
        <li><a class="link-secondary" href="#">Guarantee</a></li>

      </ul>
    </div>
    <div class="col-md-3">
      <h5>Help Tips
      </h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">How to get cashback</a></li>
        <li><a class="link-secondary" href="#">Shipping</a></li>
        <li><a class="link-secondary" href="#">Privacy</a></li>
        <li><a class="link-secondary" href="#">Payments</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h5>Contacts
      </h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Addresses</a></li>
        <li><a class="link-secondary" href="#">Mail</a></li>
        <li><a class="link-secondary" href="#">For Advertisment</a></li>
        <li><a class="link-secondary" href="#">Sponsors</a></li>
      </ul>
    </div>
  </div>
</footer>
